<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "SportsTeam",
  "name": "Surbiton Cycle Club",
  "logo": "{{ '/assets/images/logos/subiton-cycle-club.svg' | absolute_url }}",
  "url": "{{ '/' | absolute_url }}",
  "gender": "Mixed",
  "sport": "Cycling",
  "areaServed": {
    "@type": "Place",
    "geo": {
      "@type": "GeoCoordinates",
      "latitude": "51.39148",
      "longitude": "-0.29825"
    },
    "name": "Surbiton"
  },
  "sameAs": [
    "https://www.strava.com/clubs/surbitoncc",
    "https://www.britishcycling.org.uk/club/profile/8974/surbiton-cycle-club",
    "https://www.instagram.com/surbiton.cc/"
  ],
  "memberOf": [
    {
      "@type": "SportsOrganization",
      "name": "British Cycling"
      "url": "http://britishcycling.org.uk/"
    }
  ]
}
</script>
