---
layout: default
---

<section class="hero spacer d-flex justify-content-center align-items-center">
  <h1 class="hero--title">
    Surbiton
    <span class="hero--sub-title">Cycle Club</span>
  </h1>
</section>

<section id="get-involved">

</section>

<section id="the-club" class="about">
  <div class="container">
    <div class="row flex-sm-column flex-md-row">
      <div class="col-sm-12 col-md-6 align-self-center">
        <p class="text text--lead">
          Suburban thrill seekers unite, do you like sharing a draft? SCC is here to ride as a team, race together and feast on
          the glory, or cinnabuns, whichever comes first.
        </p>
        <p class="text">
          We want all members to feel a strong part of the club, to enjoy and take pride in representing SCC and to feel confident
          in helping the club plant roots in the cycling community. We’re all about enjoying riding together, both in races, as
          part of a team effort, and on social rides and trips abroad.
        </p>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="about--image-grid-container">
          <div class="about--image-left">
            <img
              class="about--image"
              src="{{ '/assets/images/thumbs/chat-laps.jpg' | relative_url }}"
            />
          </div>

          <div class="about--image-top-right">
            <img
              class="about--image"
              src="{{ '/assets/images/thumbs/race-time.jpg' | relative_url }}"
            />
          </div>

          <div class="about--image-bottom-right">
            <img
              class="about--image"
              src="{{ '/assets/images/thumbs/holibobs.jpg' | relative_url }}"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--  -->
<!-- <section id="join-us" class="join-us">
  <div class="container">
    <div class="row flex-sm-column-reverse flex-md-row">
      <div class="col-sm-12 col-md-6">
        <img class="about--image" src="/assets/images/thumbs/social.jpg" />
      </div>

      <div class="col-sm-12 col-md-6 align-self-center">
        <p class="text text--lead text--alt">
          Suburban thrill seekers unite, do you like sharing a draft? SCC is here to ride as a team, race together and
          feast on
          the glory, or cinnabuns, whichever comes first.
        </p>
        <p class="text text--alt">
          We want all members to feel a strong part of the club, to enjoy and take pride in representing SCC and to feel
          confident
          in helping the club plant roots in the cycling community. We’re all about enjoying riding together, both in
          races, as
          part of a team effort, and on social rides and trips abroad.
        </p>
        <a href="https://forms.gle/Q9CmFUtQTz4RYLBu5" class="join-us-cta" target="_blank">
          Join Us
        </a>
      </div>
    </div>
  </div>
</section> -->

<section class="get-involved">
  <div class="container">
    <div class="row flex-sm-column flex-md-row align-items-top justify-content-center">
      <div class="col-sm-12 col-md-3 get-involved__block">
        <div class="get-involved__icon">
          <i class="fad fa-portal-enter fa-fw fa-5x"></i>
        </div>

        <div class="get-involved__title">
          Forum
        </div>

        <p class="get-involved__text">
          Get involved and join the conversation. Our forum is where we arrange rides, discuss race tactics and share insights.
          It’s our online version of a clubhouse.
        </p>
      </div>

      <div class="col-sm-12 col-md-3 get-involved__block">
        <div class="get-involved__icon">
          <i class="fad fa-coffee-togo fa-fw fa-5x"></i>
        </div>

        <div class="get-involved__title">
          Riding with SCC
        </div>

        <p class="get-involved__text">
          Meeting in Kingston and heading out to the Surrey Hills, Kent, Sussex and beyond. The focus is on quality training in
          disciplined groups, riding safely and considerately.
        </p>
      </div>

      <div class="col-sm-12 col-md-3 get-involved__block">
        <div class="get-involved__icon">
          <i class="fad fa-bolt fa-fw fa-5x"></i>
        </div>

        <div class="get-involved__title">
          Racing
        </div>

        <p class="get-involved__text">
          You’ll find members of SCC representing the team colours at races across the south east – and beyond. Look out for
          us at road races, crits, CX, and hill climbs.
        </p>
      </div>
    </div>
  </div>
</section>

<section id="join-us" class="join-us centered-hero">
  <p class="centered-hero__text text text--alt">We understand that trying out something new can be daunting. If you think the club is for you, come along and meet the
  team. Pushing pedals with us is de rigueur before applying, and we welcome anyone to join for up-to 3 rides.</p>
  <a href="https://forum.surbiton.cc/d/8-joining-scc" class="centered-hero__cta">
    Join Us
  </a>
</section>


<!-- <div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}


  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}


  {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <ul class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in posts -%}
      <li>
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    {% if site.paginate %}
      <div class="pager">
        <ul class="pagination">
        {%- if paginator.previous_page %}
          <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
          <li><div class="current-page">{{ paginator.page }}</div></li>
        {%- if paginator.next_page %}
          <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
        </ul>
      </div>
    {%- endif %}

  {%- endif -%}

</div> -->
